/* TODO Make website responsive */
/* TODO header section should be a hero (100vh) */
/* TODO navbar needs to be sticky position */

* {
  box-sizing: border-box;
}

html {
  /* For fluid typography */
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
  padding: 16.67vw;
}

a, p {
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
}

p {
  line-height: 2;
}

/* Typescale headers (Augmented fourth) https://type-scale.com/ */

h1 {
  margin-top: 2rem;
  font-size: 2.827rem;
}

h2 {
  margin-top: 0;
  font-size: 2.827rem;
}

h3 {
  margin-top: 0;
  font-size: 1.999rem;
}

#welcome-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#navbar {
  width: 100%;
  padding: 1em;
  background-color: black;

  display: flex;
  justify-content: center;
  
  position: fixed;
  top: 0;
  left: 0;
}

#navbar a {
  color: white;
  font-size: 14px;
  flex: 0 1 300px;
  text-align: center;
}

#projects {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column nowrap;
}

.project-tile {
  max-width: 600px;
}

.project-links a {
  color: lightskyblue;
}

/* Inspired by the famous lobotomized owl selector */
.project-tile + .project-tile {
  margin-top: 10vh;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

#footer {
  display: flex;
  flex-flow: column wrap;
}

#footer a {
  line-height: 2;
  display: inline;
}

#footer i {
  font-size: 2em;
}

#contact-details {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

#contact-details li {
  flex: 1 0 300px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  #navbar {
    position: sticky;
    top: 0px;
  }

  #navbar a {
    font-size: 16px;
  }

  h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 16px;
  }

  header {
    padding-top: 140px;
    height: 100vh;
  }

  p {
    max-width: 600px;
    width: auto;
  }

  main, footer {
    padding: 140px 16.67vw 140px;
  }

  #welcome-section {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #welcome-section p {
    flex: 0 1 600px;
  }

  #projects {
    align-items: center;
  }

  .project-tile {
    width: 100%;
  }

  #footer * {
    max-width: 900px;
    margin: 10px auto;
  }
}